.Heading-container {
  padding-top: 10vh;
  text-align: center;
}

.Heading {
  color: azure;
  font-family: 'Montserrat', sans-serif;
  font-size: xx-large;
}

.Table-container {
  margin: auto;
  width: 75%;
  padding-top: 20vh;
}

table tr td, table tr th{
  background-color: rgba(191, 189, 192, 0.3) !important;
  color: #fff;
  font-weight: 700;
  font-size: large;
}